<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Produtos</h1>
        <h2>Cadastrar novo</h2>
        <form action="/produtos" method="post">
            <input type="text" name="nome" placeholder="Nome do produto"/>
            <button type="submit">Adicionar</button>
        </form>
        <h2>Lista:</h2>
        <ul>
            <li th:each="produto : ${produtos}" th:text="${produto}">Produto</li>
        </ul>
    </body>
</html>